<!DOCTYPE html>
<html>
  <head>
    <title>RailsYelpMvp</title>
    <!-- Add these line for detecting device width -->

    <!-- [...] -->
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="#">
        <%= image_tag "mo.jpeg", :width => "30", :height => "30", :class => "d-inline-block align-top" %>
        YELP
      </a>
    </nav>
    <%= yield %>
  </body>
</html>
